
# Configure a default setup of Home Assistant (frontend, api, etc)
# https://www.home-assistant.io/integrations/default_config/
default_config:

homeassistant:
  customize: !include customize.yaml

frontend:
  themes: !include_dir_merge_named themes

recorder:
  purge_keep_days: 31
  db_url: !secret mariadb_cs

remote:
  - platform: harmony
    name: 'Living Room'
    host: !secret harmony_hub_ip
    activity: Play Xbox

alexa_media:
  accounts:
    - email: !secret amazon_user
      password: !secret amazon_password
      url: amazon.com

# PiHole
pi_hole: 
  - host: !secret pihole_ipadress
    api_key: !secret pihole_api

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
cover: !include_dir_list covers/
group: !include groups.yaml
light: !include_dir_list lights/
script: !include scripts.yaml
scene: !include scenes.yaml
sensor: !include_dir_list sensors/
switch: !include_dir_list switches/
